@import url('reset.css');
@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700|Lobster');

$pink : #D3649F;
$blue : #107da3;
$gray : #ababab;

body
{
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: $blue;
	text-shadow: 0 1px 0 #FFF;
	background-image: url('http://subtlepatterns.com/patterns/subtlenet2.png');
}

a
{
	color: lighten($blue, 20);
	text-decoration: none;
	-webkit-transition: color .5s ease;
	
	&:hover
	{
		color: $blue;
	}
}

hr
{
	display: block;
	margin: 5px auto;
	height: 1px;
	width: 80%;
	min-width: 300px;
	box-shadow: 0 1px 5px #7d7d7d;
}

section
{
	margin: 25px auto;
}

h2
{
	
}

#top
{ 
	text-align: center;
	padding-top: 40px;
	
	h1 a
	{
		font-family: "Lobster", Helvetica, Arial, sans-serif;
		text-shadow: 0 2px 0 lighten($blue, 20);
		font-size: 4em;
		color: lighten($pink, 20);
		-webkit-transition-property: color, text-shadow;
		-webkit-transition-duration: .5s;
		-webkit-transition-timing-function: ease;
		text-decoration: none;
		
		&:hover
		{
			color: $pink;
		}
	}
	
	a{font-size: 1.2em;}
}

nav
{
	position: fixed;
	z-index: 9999;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(#e1e1e1 0%, #ffffff 100%);
	padding: 5px;
	width: 100%;
	box-shadow: 0 0 3px $gray;
	text-align: center;
		
	ul
	{
		margin: 0 auto;
		li
		{
			float: left;
			padding: 5px;
			
			&:first-child
			{
				padding-right: 10px;
				margin-right: 5px;
				border-right: 1px solid $gray;
			}
			
			a
			{
				text-decoration: none;
				color: $gray;
				text-shadow: 0 1px 0 #FFF;
				-webkit-transition: color .5s ease;
				
				&:hover
				{
					color: $pink;
				}
			}
		}
	}
}

#work-slider
{
	display: block;
	margin: 0 auto;
	height: 300px;
	width: 600px;
	max-width: 90%;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 15px #ccc;
	
	button
	{
		z-index: 5;
		position: absolute;
		top: 35%;
		font-size: 3em;
		font-weight: bold;
		color: #FFF;
		background-color: #000;
		border: none;
		padding: 10px 20px;
		cursor: pointer;
		
		border-radius: 50%;
		opacity: .5;
		
		&[onclick="nextSlide()"]{
			right: -45px;
			
			-webkit-transition: right .4s ease;
			
			&:hover
			{
				right: -30px;
			}
		}
		
		&[onclick="prevSlide()"]{
			left: -45px;
			
			-webkit-transition: left .4s ease;
			
			&:hover
			{
				left: -30px;
			}
		}
		
	}
	
	ul li
	{
		display: none;
		overflow: hidden;
		
		&.active
		{
			display: block;
		}
		
		img
		{
			opacity: .5;
			-webkit-transition: opacity .5s ease;
			position: absolute;
			
			&:hover
			{
				opacity: .8;
			}
		}
		
		.rollover
		{
			display: block;
			width: 100%;
			position: absolute;
			font-size: .9em;
			text-shadow: none;
			left: 0px;
			bottom: 0px;
			color: #FFF;
			background-color: #000;
			opacity: .7;
			
			h4
			{
				font-weight: 600;
			    padding: 0px 5px;
			    margin-top: 8px;
			    margin-bottom: 0px;
			    
			    a
			    {
			    	-webkit-transition: color .5s ease;
			    	
			    	&:hover
			    	{
				    	color: $pink;
			    	}
			    }
			}
			
			p
			{
				padding: 0px 5px;
			    margin-top: 0px;
			    margin-bottom: 5px;
			}
		}
	}
}